@model UserAPI.User

@{
    ViewData["Title"] = "Welcome";
}

<h1 class="text-center">Hi @ViewBag.msg!</h1>

<hr/> 

<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="MDrugs" asp-action="Index"> Drugs </a>
</div>





