@model UserAPI.User

@{
    ViewData["Title"] = "Welcome";
}

<h1 class="text-center">Hi @ViewBag.msg!</h1>

<hr />

<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="MDrugs" asp-action="Index"> Check Drugs and Drug Availiablity </a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="MSubscription" asp-action="Index"> Subscribe </a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="MSubscription" asp-action="Index1"> Unsubscribe  </a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="MRefill" asp-action="Index"> View Refill Details </a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="MRefill" asp-action="IndexDue"> Check Pending Refills </a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="MRefill" asp-action="IndexAdhoc"> Place Refill by Location </a>
</div>





