@model UserAPI.User

@{
    ViewData["Title"] = "Login";
}

<div class="container" style="background: #007bff; background: linear-gradient(to right, #0062E6, #33AEFF);">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h6 class="card-title text-center mb-5 fw-light fs-5">Log In to Mail-Order Pharmacy</h6>
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>

@{            try{

                 if (ViewBag.msg != null)
                {
                    <label>@ViewBag.msg</label>
                }

                }
                catch { }
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
